<div class="container">
  <mat-form-field>
    <mat-label>Conta Origem</mat-label>
    <input matInput #input (input)="onInput($event)" [(ngModel)]="contaOrigem"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Conta Destino</mat-label>
    <input matInput #input (input)="onInput($event)" [(ngModel)]="contaDestino" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor(R$)</mat-label>
    <input matInput #input (input)="onInput($event)" [(ngModel)]="valor" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data Agendamento</mat-label>
    <input matInput [matDatepicker]="dataAgendamentoPicker" [(ngModel)]="dataAgendamento">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dataAgendamentoPicker"></mat-datepicker-toggle>
    <mat-datepicker #dataAgendamentoPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data Transferência</mat-label>
    <input matInput [matDatepicker]="dataTransferenciaPicker" [(ngModel)]="dataTransferencia">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dataTransferenciaPicker"></mat-datepicker-toggle>
    <mat-datepicker #dataTransferenciaPicker></mat-datepicker>
  </mat-form-field>

  <section>
    <div class="container-button">
      <button mat-flat-button (click)="agendarTransferencia()">Agendar</button>
      <button mat-flat-button>Extrato</button>
    </div>
  </section>
</div>
